.header-container{
    display:flex;
    justify-content: center;
    height: 46px;
    flex-direction: row-wrap;


}



#playlisth2{
    margin-right: -30px;
    font-size: 24px;
    font-weight: 100;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    background-color: #f2f0ec;
}

.smallalbumimage{
    width:30px;
    height:30px;

}

.buttonimage{
    margin-left:-10px;
    margin-top: -2px;
    margin-right: -10px;
}


footer{
    position: sticky;
}
header{
    background-color: gainsboro;
}

.left-nav-logo{
width: 90px;

background-size: 90px 46px;
}
.left-logo{
    width: 90px;


    background-size: 90px 46px;

}
.left-header{
    margin: 0px;
    padding: 0px;
    background: #333;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    width: 381;
    height: 46px;

}
.leftnav{
    display: block;
    visibility: visible;
    float: left;
    background: #333;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    height: 46px;
    color: #999;
}

.left-button{
    display:block;
    height: 46px;
    width: 104px;
    border-right: 1px solid black;
    text-align: center;
    padding: 0px;
    background-color: #333;
    font-weight: 100;
    font-size: 14px;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    line-height: 3;
    color: grey;
}

.left-header-box{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;


    color: #999;

}

#banner-songs{
    display: flex;
    justify-content: center;
    height: 380px;
    margin: auto;

    width: 950px;
    background: linear-gradient(135deg, rgb(132, 132, 131) 0%, rgb(47, 45, 46) 100%);
}

.banner-title{

}
.background-songs{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 950px;
    margin-left: 300px;


}

.song-list{
    display: flex;
    margin:auto;

    background-color: ghostwhite;
    width: 950px;


}


.trackitem{
    display: flex;
    cursor: point;
    text-align: 1.5px;
    border-radius: 4px;
    flex-direction: row;
    font-weight: 100%;
    color: #999;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 14px;
    margin-left: 25%;
    padding: 0px;
    width: 700px;
    height: 50px;
    border-width: 0px;
    border-top: none;
    justify-content: flex-start;


}

.track-buttons{
    width: 100%;
    margin-left: -50px;
    display: flex;
    justify-content: flex-end;

}

.tracklist{

    overflow-x:hidden;
    display: block;
    list-style: none;
    margin:auto;
    white-space: nowrap;
    height: 100%;
    width: 100%;


}

.tracksongid{
    display: list-item;

    vertical-align:text-t;
    list-style: none;

    line-height: 1.5;
    text-align: center;
    width:950px;

}

.middle-header{
    flex: 1;
    display: block;
    color: #999;

    padding: 0px;
    background: #333;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    height: 46px;
    font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.searchbar{
    margin-top: 7px;
    width: 100%;
    height: 25px;
    border-radius:5px 0 0 5px;
    background-color: rgb(229, 218, 218);
}

.searchHeader{

    display: inline-block;
    visibility: visible;
    margin-left: 10px;

    padding: 0px;
    background: #333;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    height: 46px;
    color: #999;
    user-select: none;
    cursor: default;
    outline: 0;
    font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

}

.allsongsbutton{


    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    background: linear-gradient(135deg, rgb(132, 132, 131) 0%, rgb(47, 45, 46) 100%);
    width: 100px;
    height: 30px;
    box-shadow: 5px 8px #888;
}
.addsongbutton{
    background: linear-gradient(135deg, rgb(132, 132, 131) 0%, rgb(47, 45, 46) 100%);
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 100px;
    height: 30px;
    box-shadow: 5px 8px #888;
}

#playlists-dropdown{
    margin-right:50px;
}

#playlist-dropdown{
    width: 200px;
    height: 30px;
    font-size: 20px;
    background-color: #CCD6D8;

}

.tracks{

}

.delete-track{
    height: 30px;
    width: 30px;
    background-color:rgb(242, 240, 234);
    border: 0px solid black;
    border-radius: 5px 5px 5px 5px;
}

#editbuttontrack{
    height: 30px;
    width: 30px;
    background-color:rgb(242, 240, 234);
    border: 0px solid black;
    border-radius: 5px 5px 5px 5px;

}

.add-to-playlist{
    height: 30px;
    width: 30px;
    background-color:rgb(242, 240, 234);
    border: 0px solid black;
    border-radius: 5px 5px 5px 5px;

}


.tracks-area{
    display:block;
}

.addplaylistbutton{
    background: linear-gradient(135deg, rgb(132, 132, 131) 0%, rgb(47, 45, 46) 100%);
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 100px;
    height: 30px;
    box-shadow: 5px 8px #888;

}

.deleteplaylistbutton{
    background: linear-gradient(135deg, rgb(132, 132, 131) 0%, rgb(47, 45, 46) 100%);
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 100px;
    height: 30px;
    box-shadow: 5px 8px #888;
    margin-left: 5px;

}
