#image-div{
    position: relative;
    height: 100%;
    background-image:url("https://images.unsplash.com/photo-1526269982786-96fcd6b53d45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    height: 1080px;
    width: 1920PX;
    background-repeat: none;
    scroll-snap-type: y mandatory
}

app{
    display: block;
}
.searchinput{
margin-left: 10px;

}

.SearchBar{
    display: flex;
    justify-content: center;


    margin-left: 18%;
    width: 950px;




}
.headerSearch{
    margin-top: 60px;


    height: 30px;
    width: 600px;
}

.searchSubmit{
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    position: relative;
    left: -33px;


}




.navigation{


    height: 50px;
    width: 1920px;
    background-color: black;

}
.navigation .nav1 {
    display: flex;
    justify-content: flex-end;
    width: 1880px;

}


.splash-title{
    position: absolute;
    mix-blend-mode:soft-light;
    text-align: center;
    margin-left: 10%;
    opacity: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 300px;
}
