.profile-dropdown{
    margin-right: 100px;
    color: white;
    margin-top: -15px;
}



.github{
    margin-top: 15px;
    margin-right: 15px;
}
.splashhome{
    margin-top: 20px;
    width: 125px;
    height: 129%;

    background-color: darkgray;
}

.logoutsplash{
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: darkgrey;
}

.profilebutton{
    margin-top: 0px;
    height: 46px;
    width: 10%;
    background-color: orange;

}
